.SidebarMainDiv {
  box-sizing: border-box;
}

.ArrorDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.IconsMainDiv {
  width: 100%;
}

a{
   
    text-decoration: none;
}

.IconsMainDiv{
     display: flex;
}

.ArrorDiv{
    background-color: rgb(25,118,210);
    display: flex;
    justify-content:space-between;
    font-family:Book Antiqua
   
}
